.select{
    padding: 10px 25px;
    padding-left: 0.625rem;
    height: 2.5rem;
    background: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 98%);
    margin-top: 60px;
    margin-bottom: 3.125rem;
    margin-right: 8.75rem;
    border: none;
    outline: none;
    border-radius: 0.3125rem;
    cursor: pointer;
}

.option{
    cursor: pointer;
}



@media (max-width: 800px) {
    .select{
       margin-right: -3.125rem;
        width: 9.375rem;
       
    }
}

