input{
    padding: 10px, 25px;
    padding-left: 10px;
    height: 2.5rem;
    margin-top: 3.75rem;
    margin-bottom: 3.125rem;
    color: white;
    border-radius: 5px;
    background: hsl(209, 23%, 22%);
    border: none;
    outline: none;
    cursor: pointer;
}

::placeholder{
    color: white;
    font-size: .8rem;
}

@media (max-width: 800px) {
    input{
        width: 9.375rem;
        margin-left: -2.5rem;
    }
}

.form{
    border-radius: 5px;
    background: hsl(209, 23%, 22%);
}